.flexRow--desktop__header{
    background-color: #620ad6;
}

.flexRowContent--desktop__header{
    max-width: 1280px;
    margin: 0 auto;
}

.flexRow--desktop__stripe{
    background-color: #6f1dda;
}

.flexRow--desktop__stripe--container{
    padding: 1rem 2rem;
}

.flexRowContent--header__menus{
    gap: 2rem;
    margin-left: 2rem;
}
